@use "/src/styles/base";

@mixin button($variant: default) {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0px base.$default-gap;
    border: 1px solid transparent;
    border-radius: calc(base.$default-gap / 2);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
  
    @if $variant == primary {
        background-color: #228be6;
        color: #ffffff;
    }
    @else if $variant == default {
        border-color: #ced4da;
        background-color: #ffffff;
        color: #000000;
    }
}
